html,
body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(to right, hsl(216, 77%, 92%), #cddef8);
}

.card,
.front,
.back {
    min-height: 80vh;
}

.card {
    width: 50%;
    position: relative;
    box-shadow: 3px 3px 3px lightslategray;
    font-family:cursive ;
}

#front-cover {
    box-shadow: 3px 3px 3px gray;
}

.front {
    z-index: 10;
    background: linear-gradient(to right bottom, #fafafa, #ffffff);
    transition: transform 1s linear;
    transform-origin: top left;
    transform-style: preserve-3d;
    position: absolute;
    height: 100%;
    width: 100%;
}

.open {
    transform: rotateY(90deg);
}

@media screen and (max-width: 1028px) {
    .card {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    .back {
        font-size: 12px;
    }
}